.passenger-home {
  width: 100%;
  min-height: 100vh;

  background-size: cover;
  position: relative;
  padding: 120px 0 60px;
}

.search-destination .form-group {
  position: relative;
}
.search-destination .form-group label {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.search-destination .form-group .form-field {
  position: relative;
  display: block;
}
.search-destination .form-group .form-control {
  padding-left: 30px;
  display: block;
  width: 100%;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  color: rgba(0, 0, 0, 0.7) !important;
  background: transparent !important;
}
.search-destination .form-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.7) !important;
}
.search-destination .form-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.7) !important;
}
.search-destination .form-group .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.7) !important;
}
.search-destination .form-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.7) !important;
}
.search-destination .form-group .form-control.btn {
  padding: 0 !important;
  font-size: 16px;
  color: #fff !important;
}
.search-destination .form-group .form-control.btn.btn-primary {
  background: hsla(354, 83%, 48%, 1) !important;
}
.search-destination .form-group .select-wrap {
  position: relative;
}
.search-destination .form-group .select-wrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-destination .form-group .icon {
  position: absolute;
  top: 51%;
  left: 10px;
  font-size: 16px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ff2b2b;
}
@media (max-width: 767.98px) {
  .search-destination .form-group .icon {
    right: 10px;
  }
}

.table-wrap {
    overflow-x: scroll;
  
}
.table {
  min-width: 1000px !important;
  width: 100%;
  -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  thead {
    th {
      border: none;
      padding: 30px;
      font-size: 13px;
      color: black;
      font-weight: 400;
      text-transform: uppercase;
    }
    tr {
      background: white;
    }
  }
  tbody {
    tr {
      background: white;
    }
    th,
    td {
      border: none;
      padding: 20px 30px;
      font-size: 14px;
      vertical-align: middle;
    }
    td {
      .close {
        span {
          font-size: 12px;
          color: red;
        }
      }
    }
  }
}


.table-bk {
  .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #ff2b2b37; 

 }
}


/* .container-bok{
  display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
} */






.section-title {
  position: relative;
}
.section-title h2 {
  color: #1d2025;
  position: relative;
  margin: 0;
  font-size: 24px;
}
@media (min-width: 768px) {
  .section-title h2 {
      font-size: 28px;
  }
}
@media (min-width: 992px) {
  .section-title h2 {
      font-size: 34px;
  }
}
.section-title.title-ex1 h2 {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .section-title.title-ex1 h2 {
      padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .section-title.title-ex1 h2 {
      padding-bottom: 40px;
  }
}
.section-title.title-ex1 h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 12px;
  width: 110px;
  height: 1px;
  background-color: #d6dbe2;
}
@media (min-width: 768px) {
  .section-title.title-ex1 h2:before {
      bottom: 17px;
  }
}
@media (min-width: 992px) {
  .section-title.title-ex1 h2:before {
      bottom: 25px;
  }
}
.section-title.title-ex1 h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 12px;
  width: 40px;
  height: 1px;
  background-color: var(--color-primary-dark) ;
}
@media (min-width: 768px) {
  .section-title.title-ex1 h2:after {
      bottom: 17px;
  }
}
@media (min-width: 992px) {
  .section-title.title-ex1 h2:after {
      bottom: 25px;
  }
}
.section-title.title-ex1.text-center h2:before {
  left: 50%;
  transform: translateX(-50%);
}
.section-title.title-ex1.text-center h2:after {
  left: 50%;
  transform: translateX(-50%);
}
.section-title.title-ex1.text-right h2:before {
  left: auto;
  right: 0;
}
.section-title.title-ex1.text-right h2:after {
  left: auto;
  right: 0;
}
.section-title.title-ex1 p {
  font-family: "Montserrat", sans-serif;
  color: #8b8e93;
  font-size: 14px;
  font-weight: 300;
}


.price-card {
  background: #f5f5f6;
  padding: 40px 35px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}
.price-card:before {
  position: absolute;
  content: "";
  top: 0;
  right: -35px;
  width: 88px;
  height: 88px;
  background: #ff2b2b;
  opacity: 0.2;
  border-radius: 8px;
  transform: rotate(45deg);
}
.price-card:after {
  position: absolute;
  content: "";
  top: 30px;
  right: -35px;
  width: 88px;
  height: 88px;
  background: #ff2b2b;
  opacity: 0.2;
  border-radius: 8px;
  transform: rotate(45deg);
}
.price-card h2 {
  font-size: 26px;
  font-weight: 600;
}


.price-card.featured {
  background: #fff;
  border: 1px solid #ebebeb;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
p.price span {
  display: inline-block;
  padding: 45px 15px 50px;
  padding-right: 0;
  font-size: 50px;
  font-weight: 600;
  color: var(--color-primary-dark);
  position: relative;
}
p.price span:before {
  position: absolute;
  content: "₹";
  font-size: 16px;
  top: 25px;
  font-weight: 300;
  left: 0;
}
.pricing-offers {
  padding: 0 0 10px;
}
.pricing-offers li {
  padding: 0 0 16px;
  line-height: 18px;
}
ul li {
  list-style-type: none;
}

.pricing-section{
  padding: 0 0 60px;
}

.book-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 60px;
}





.book-finalpg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}





